<div class="espaciador"></div>
<h1>Especialidades</h1>

<div class="especialidades-container">
    <div>
        <img src="assets/cardiologia.png" alt="Cardiología" class="specialty-image">
        <h2>Cardiología</h2>
        <p>Diagnóstico y tratamiento de las enfermedades del corazón y del sistema circulatorio.</p>
    </div>

    <div>
        <img src ="assets/cirugia-general.png" alt="Cirugía General" class="specialty-image">
        <h2>Cirugía General</h2>
        <p>Tratamiento quirúrgico de diversas afecciones, abarcando una amplia gama de procedimientos en diferentes áreas del cuerpo.</p>
    </div>

    <div>
        <img src="assets/hospitalizacion.png" alt="Hospitalización" class="specialty-image">
        <h2>Hospitalización</h2>
        <p>Atención médica especializada y tratamiento durante un período determinado.</p>
    </div>

    <div>
        <img src="assets/medicina-general.png" alt="Medicina General" class="specialty-image">
        <h2>Medicina General</h2>
        <p>Atención integral del paciente, abarcando el diagnóstico, tratamiento y prevención de diversas enfermedades y condiciones de salud.</p>
    </div>

    <div>
        <img src="assets/neurologia.png" alt="Neurología" class="specialty-image">
        <h2>Neurología</h2>
        <p>Diagnóstico y tratamiento de las enfermedades del sistema nervioso, incluyendo el cerebro, la médula espinal y los nervios periféricos.</p>
    </div>

    <div>
        <img src="assets/odontologia.png" alt="Odontología" class="specialty-image">
        <h2>Odontología</h2>
        <p>Tratamiento y prevención de las enfermedades y afecciones de los dientes, encías y estructuras bucales.</p>
    </div>

    <div>
        <img src="assets/oftalmologia.png" alt="Oftalmología" class="specialty-image">
        <h2>Oftalmología</h2>
        <p>Tratamiento de las enfermedades y trastornos del ojo y la visión.</p>
    </div>

    <div>
        <img src="assets/oncologia.png" alt="Oncología" class="specialty-image">
        <h2>Oncología</h2>
        <p>Diagnóstico, tratamiento y seguimiento de los pacientes con cáncer, con diversas modalidades terapéuticas como la quimioterapia, radioterapia y cirugía.</p>
    </div>

    <div>
        <img src="assets/pediatria.png" alt="Pediatría" class="specialty-image">
        <h2>Pediatría</h2>
        <p>Cuidado de la salud de los niños, desde el nacimiento hasta la adolescencia, abarcando el diagnóstico y tratamiento de enfermedades infantiles y el seguimiento del crecimiento y desarrollo.</p>
    </div>

    <div>
        <img src="assets/radiologia.png" alt="Radiología" class="specialty-image">
        <h2>Radiología</h2>
        <p>Técnicas de imagen, como radiografías, tomografías computarizadas y resonancias magnéticas, para diagnosticar y tratar enfermedades mediante la visualización de estructuras internas del cuerpo.</p>
    </div>
</div>
