
<nav class="navbar" *ngIf="showNavbar">
    <div class="navbar-container">
            <button (click)="navigateTo('/main')" class="title">
                Hospital Central
            </button>
        <div class="nav-buttons">
            <button (click)="navigateTo('/citas')" class="nav-button">
                Agendar una cita
            </button>
            <button (click)="navigateTo('/horarios')" class="nav-button">
                Administrar Horarios
            </button>
        </div>

        <div class="user-menu-wrapper" #userDropdown>
            <div class="user-menu-trigger" (click)="toggleDropdown()">
                <img class="user-avatar"src="img/usrG.png" width="10%"/>
                <span class="user-name">Usuario</span>
                <svg class="dropdown-arrow" [class.rotated]="isDropdownOpen" fill="none" stroke="currentColor "
                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                </svg>
            </div>

            <div *ngIf="isDropdownOpen" class="dropdown-menu">
                <button (click)="navigateTo('/perfil'); toggleDropdown()" class="dropdown-item">
                    Ver Perfil
                </button>
                <button (click)="goToLogin(); toggleDropdown()" class="dropdown-item">
                    Cerrar Sesión
                </button>
            </div>
        </div>
    </div>
</nav>
<router-outlet />
<footer class="app-footer">
  <div class="footer-content">
    <p>Contacto<br>jashdhashdsagmail.com<br>jasdjasjdgmail.com</p>
  </div>
</footer>