<div class="login-container">
  <div class="logo">
    <img src="assets/logo.PNG" alt="Logo" />
    <p>“Bienvenido a un lugar donde te escuchamos y te cuidamos. Regístrate y forma parte de nuestra familia.”</p>
  </div>

  <div *ngIf="mostrarTipoUsuario" class="tipo-usuario">
    <div>
      <h2>Seleccione el tipo de usuario</h2>
      <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
    <div class="botones-usuario">
      <button (click)="seleccionarUsuario('p')">Paciente</button>
      <button (click)="seleccionarUsuario('a')">Administrativo</button>
    </div>
  </div>
  <div *ngIf="!mostrarTipoUsuario" class="login-boton">
    <div class="login-header">
      <h2>Iniciar sesión</h2>
      <h3>Para continuar, por favor inicia sesión</h3>
      <ng-lottie [options]="options" (animationCreated)="animationCreated($event)"></ng-lottie>
    </div>
    
    <div class="botones-usuario">
      <button (click)="login()">Continuar con Google</button>
    </div>
    
  </div>
</div>
