<div class="fondo">
</div>
<div></div>
<div class="insta"> <span style="color: rgb(37, 199, 199);">Servicios</span> <br>Acceda a nuestros servicios en linea:</div>
<div class="servicios">
    <div class="card">
        <div class="cimg1">
        </div>
        <div class="card-header">
            <h3>Citas</h3>
        </div>
        <div class="card-body">
            <p>Agende una cita con un especialista.</p>
        </div>
        <div class="card-footer">
            <button (click)="navigateTo('/citas')" class="btn">Acceder</button>
        </div>
    </div>
    <div class="card">
        <div class="cimg1-2">
        </div>
        <div class="card-header">
            <h3>Consultas</h3>
        </div>
        <div class="card-body">
            <p>Consulte el estado de sus citas agendadas.</p>
        </div>
        <div class="card-footer">
            <button (click)="navigateTo('/consultasC')" class="btn">Acceder</button>
        </div>
    </div>
    <div class="card" *ngIf="userRole === 'a'">
        <div class="cimg2">
        </div>
        <div class="card-header">
            <h3>Horarios</h3>
        </div>
        <div class="card-body">
            <p>Administre los horarios de los médicos.</p>
        </div>
        <div class="card-footer">
            <button (click)="navigateTo('/servicios')" class="btn">Acceder</button>
        </div>
    </div>
    <div class="card" *ngIf="userRole === 'a'">
        <div class="cimg3">
        </div>
        <div class="card-header">
            <h3>Administración</h3>
        </div>
        <div class="card-body">
            <p>Administre citas y horarios de médicos.</p>
        </div>
        <div class="card-footer">
            <button (click)="navigateTo('/servicios')" class="btn">Acceder</button>
        </div>
    </div>
</div>
<div class="insta"> <span style="color: rgb(37, 199, 199);">Instalaciones</span><br>Conozca nuestras instalaciones:</div>
<div class="instalaciones">
    <div class="img">
        <div class="imgF">
            <img src="img/emergencias.jpg">
        </div>
        <div class="imgD">
            Sala de emergencias con alta disponibilidad.
        </div>
    </div>

    <div class="img">
        <div class="imgF">
            <img src="img/pediatria.jpg">
        </div>
        <div class="imgD">
            Atención especializada.
        </div>
    </div>

    <div class="img">
        <div class="imgF">
            <img src="img/recepcion.jpg">
        </div>
        <div class="imgD">
            Amplios espacios.
        </div>
    </div>

    <div class="img">
        <div class="imgF">
            <img src="img/habit.jpg">
        </div>
        <div class="imgD">
            Habitaciones privadas.
        </div>
    </div>
</div>
